/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px;
}




.demo-icons li {
  margin-bottom: 50px;
  text-align: center;
}
.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px;
}
.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}
.card-header-link{
  font-size: 24px;
}

/*$('#blah').mouseenter(function() {
    $(this).css("cursor","pointer");
    $(this).animate({width: "50%", height: "50%"}, 'slow');
});

$('#blah').mouseleave(function() {   
    $(this).animate({width: "28%"}, 'slow');
});*/

.imagePreview:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999999;
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
    min-width: 232px;
}

#actionProduct a{
    padding: 3px;
    cursor: pointer;
    cursor: hand;
}

#actionProduct a i {
    font-size: 20px;
}

#deleteProduct a{
    font-size: 20px;
    padding: 5px;
    margin: 6px;
}